{% extends "template.html" %}
{% load staticfiles %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'flot/jquery.flot.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'flot/jquery.flot.time.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'flot/jquery.flot.stack.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'flot/jquery.flot.crosshair.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery.flot.axislabels.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery.flot.djunin.js' %}"></script>
{% endblock %}

{% block title %}{{current_category}} :: {{block.super}}{% endblock %}

{% block content %}
	<div>
		<label for="node-graph-category">Category</label>
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="node-graph-category">
				{{current_category}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				{% for category in node.graph_categories %}
					<li><a href="{% url 'graphs' node.group node.name category %}">{{category}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>


	{% for graph in graphs %}
		{% ifchanged %}<h2 id="{{graph.group}}">{{graph.group}}</h2>{% endifchanged %}

		<p class="text-muted">{{graph}}</p>

		<div class="row">
			<div class="col-md-5">
				<div id="graph-{{graph.name}}-day" class="djunin-graph" data-url="{% url 'graph_data' graph.node.group graph.node.name graph.name 'day' %}">
				</div>
				<div id="graph-{{graph.name}}-day-legend" class="djunin-graph-legend"></div>
			</div>
			<div class="col-md-5 hidden-xs">
				<div id="graph-{{graph.name}}-week" class="djunin-graph" data-url="{% url 'graph_data' graph.node.group graph.node.name graph.name 'week' %}">
				</div>
				<div id="graph-{{graph.name}}-week-legend" class="djunin-graph-legend"></div>
			</div>
		</div>
	{% endfor %}

{% endblock %}
