{% extends "template.html" %}
{% load staticfiles %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'flot/jquery.flot.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'flot/jquery.flot.time.js' %}"></script>
	<script type="text/javascript" src="{% static 'flot/jquery.flot.stack.js' %}"></script>
{% endblock %}

{% block content %}

	<div>
		<label for="node-graph-category">Category</label>
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="node-graph-category">
				{{current_category}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				{% for category in node.graph_categories %}
					<li><a href="{% url 'graphs' node.group node.name category %}">{{category}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>


	{% regroup graphs by graph_category as grouped_graphs %}
	{% for group in grouped_graphs %}
		<h2 id="{{group.grouper}}">{{group.grouper}}</h2>

		{% for graph in group.list %}
			<p class="text-muted">{{graph}}</p>

			<div class="row">
				<div class="col-md-5">
					<div id="graph-{{graph.name}}-daily" class="djunin-graph" style="height: 240px" data-url="{% url 'graph_data' graph.node.group graph.node.name graph.name 'day' %}">
					</div>
					<div id="graph-{{graph.name}}-legend" class="djunin-graph-legend"></div>
				</div>
				<div class="col-md-5 col-xs-hidden">
					<div id="graph-{{graph.name}}-weekly" class="djunin-graph" style="height: 240px">
					</div>
				</div>
			</div>
		{% endfor %}
	{% endfor %}


{% endblock %}
