{% extends "template.html" %}
{% load staticfiles %}

{% block scripts %}
	<script src="{% static 'd3.v3.min.js' %}" charset="utf-8"></script>
{% endblock %}

{% block title %}{% if current_graph %}{{current_graph}} :: {{node}}{% else %}{{current_category}} :: {{block.super}}{% endif %}{% endblock %}

{% block content %}
	<div>
		<label for="node-graph-category">Category</label>
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="node-graph-category" accesskey="g">
				{{current_category}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				{% for category in node.graph_categories %}
					<li><a href="{% url 'graphs' node.group node.name category %}">{{category}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% for graph in graphs %}
		{% ifchanged %}<h2 id="{{graph.group}}">{{graph.group}}</h2>{% endifchanged %}

		<div id="{{graph.name}}">
			<div class="row">
				<div class="col-md-5">
					<div class="graph-title"><a class="text-muted" href="{% url 'graphs_graph' graph.node.group graph.node.name graph.graph_category graph.name %}" title="{{graph}}">{{graph}} - by day</a></div>
					<div id="graph-{{graph.name}}-day" class="djunin-graph"
						 	data-url="{% url 'graph_data' graph.node.group graph.node.name graph.name 'day' %}"
							data-graph-scope="day"></div>
					<div id="graph-{{graph.name}}-day-legend" class="djunin-graph-legend"></div>
				</div>
				<div class="col-md-5{% if not detailed %} hidden-xs{% endif %}">
					<div class="graph-title"><a class="text-muted" href="{% url 'graphs_graph' graph.node.group graph.node.name graph.graph_category graph.name %}" title="{{graph}}">{{graph}} - by week</a></div>
					<div id="graph-{{graph.name}}-week" class="djunin-graph"
						 	data-url="{% url 'graph_data' graph.node.group graph.node.name graph.name 'week' %}"
							data-graph-scope="week"></div>
					<div id="graph-{{graph.name}}-week-legend" class="djunin-graph-legend"></div>
				</div>
			</div>

			{% if detailed %}
				<div class="row">
					<div class="col-md-5">
						<div class="graph-title"><a class="text-muted" href="{% url 'graphs_graph' graph.node.group graph.node.name graph.graph_category graph.name %}" title="{{graph}}">{{graph}} - by month</a></div>
						<div id="graph-{{graph.name}}-month" class="djunin-graph"
							 	data-url="{% url 'graph_data' graph.node.group graph.node.name graph.name 'month' %}"
								data-graph-scope="month"></div>
						<div id="graph-{{graph.name}}-month-legend" class="djunin-graph-legend"></div>
					</div>
					<div class="col-md-5{% if not detailed %} hidden-xs{% endif %}">
						<div class="graph-title"><a class="text-muted" href="{% url 'graphs_graph' graph.node.group graph.node.name graph.graph_category graph.name %}" title="{{graph}}">{{graph}} - by year</a></div>
						<div id="graph-{{graph.name}}-year" class="djunin-graph"
							 	data-url="{% url 'graph_data' graph.node.group graph.node.name graph.name 'year' %}"
								data-graph-scope="year"></div>
						<div id="graph-{{graph.name}}-year-legend" class="djunin-graph-legend"></div>
					</div>
				</div>
			{% endif %}
		</div>
	{% endfor %}

{% endblock %}
