{% load opensearch_tags %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		{% block whole_title %}<title>{% block title %}{% endblock %} - djunin</title>{% endblock %}
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="theme-color" content="#990000">
		<meta name="robots" content="noindex,nofollow,noarchive" />

		{% block head %}{% endblock %}

		<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}site.css" rel="stylesheet">
		{% block styles %}{% endblock %}

		{% opensearch_meta %}
	</head>
	<body>
		<div class="container">
			<div class="wrapper">
			</div>
		</div>
	</body>
</html>