{% extends "template.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block sidebar %}
	<li{% if sidebar_item == "management_update" %} class="active"{% endif %}>
		<a href="{% url 'management_update' %}" title="{% trans 'Data' %}">{% trans 'Data' %}</a>
	</li>
	<li{% if sidebar_item == "management_permissions" %} class="active"{% endif %}>
		<a href="{% url 'management_permissions' %}" title="{% trans 'Permissions' %}">{% trans 'Permissions' %}</a>
	</li>
{% endblock %}
