{% extends "djunin/management/_template.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block styles %}
	<link href="{% static 'bootstrap-tokenfield/css/bootstrap-tokenfield.min.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'bootstrap-tokenfield/bootstrap-tokenfield.min.js' %}"></script>
{% endblock %}

{% block content %}

	{% bootstrap_messages %}

	<table class="table table-condensed permissions-table">
		<tr>
			<th></th>
			<th>{%  trans 'Groups' %}</th>
			<th>{%  trans 'User' %}</th>
		</tr>

        {% regroup object_list by group as node_list %}
		{%  for group in node_list %}
            <tr>
                <th colspan="3">{{ group.grouper }}</th>
            </tr>
            {%  for node in group.list %}
                <tr>
                    <td>{{ node }}</td>
                    <td>
                        {% for g in node.group_permissions %}
                            {{ g.object }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for u in node.user_permissions %}
                            {{ u.object }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {%  endfor %}
		{%  endfor %}
	</table>

{% endblock %}
